@media (max-width: 1200px) {

  .courses__list .list__item {

  justify-content: space-between;

}
}

@media (max-width: 768px) {

  .hero__container {
    padding-bottom: 132px;
    background-image: url(../img/hero-bg2-690.png);
    background-position: calc(100% - 15px) calc(100% - 152px);
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 100%;
  }

  .hero__btn {
    padding: 26px 76px;
}

/* about */

  .about__wrapper {
    padding-left: 240px;
    background-size: 30%;
  }

  .about__list .list__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .about__list .list__item-wrapper {
    margin-bottom: 8px;
  }

  .about__list span {
    padding: 0;
}

  /* teachers */

  .teachers__list .list__item-two {
    padding-left: 15px;
    padding-right: 1px;

  }

  .teachers__list .list__item-three {
    padding-left: 1px;
  }

  .teachers__list .list__item:nth-child(-n+2) {
    margin-bottom: 24px;
  }

  .teachers__list .list__item-four {
    padding-left: 15px;
}

  /* courses */

  .courses__btn {
    max-width: 195px;
    padding-left: 55px;
  }

  .courses__list .list__item-one {
    background-image: url(../img/courses-bg1-690.png);
  }

  .courses__list .list__item-two {
    background-image: url(../img/courses-bg2-690.png);
  }

  .courses__list .list__item-three {
    background-image: url(../img/courses-bg3-690.png);
  }

  .courses__list .list__item-four {
    background-image: url(../img/courses-bg4-690.png);
  }

  .courses__list .list__item-two .courses__descr {
    padding-bottom: 76px;
  }

  .courses__list .list__item-three .courses__descr {
    padding-bottom: 102px;
  }

  .courses__list .list__item span {
    top: 8px;
    right: 10px;
  }

}

@media (max-width: 576px) {

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__container .logo {
    margin: 0;
    margin-bottom: 30px;
}

  .hero__container {
    padding-top: 78px;
    background-image: none;
    background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
  }

  /* about */

  .about__container {
    margin-bottom: 53px;
  }

  .about__wrapper {
    padding-left: 180px;
    background-position: top left;
  }

  .about__title {
    margin-bottom: 19px;
  }

  .about__list .list__item:last-child {
    padding-left: 20px;
    padding-right: 0;
  }

  .courses__btn {
    width: 96%;
    padding-left: 47px;
  }

  .courses__list .list__item {
    max-height: 653px;
    padding: 205px 22px 30px 30px;
    background-size: 100% 190px;
  }

  .courses__list .list__item-one {
    background-image: url(../img/courses-bg1-510.png);
  }

  .courses__list .list__item-two {
    background-image: url(../img/courses-bg2-510.png);
  }

  .courses__list .list__item-two .courses__descr {
    padding-bottom: 55px;
  }

  .courses__list .list__item-three {
    padding: 206px 22px 50px 30px;
    background-image: url(../img/courses-bg3-510.png);
  }

  .courses__list .list__item-three .courses__subtitle {
    margin-bottom: 5px;
    max-width: 168px;
  }

  .courses__list .list__item-three .courses__descr {
    padding-bottom: 130px;
  }

  .courses__list .list__item-four {
    padding-top: 208px;
    padding-right: 18px;
    background-image: url(../img/courses-bg4-510.png);
  }

  .courses__list .list__item-four .courses__subtitle {
    margin-bottom: 8px;
  }

  .courses__descr {
    padding-bottom: 17.4%;
}

}

@media (max-width: 500px) {

  .header__container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__container .logo {
    width: 72px;
    margin-right: auto;
    margin-bottom: 0;
}

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 100vh;
    z-index: 1000;
    padding: 50px;
    padding-top: 160px;
    background-color: #2F2C45;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item {
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 21px;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .burger:focus-visible {
    outline-offset: 3px;
    outline: 2px solid #8e98f7;
  }

  .burger:active {
    color: #8e98f7;
  }

  .burger--active {
    z-index: 1001;
    transition: color 0.3s ease;
  }

  .burger--active:hover {
    color: #8e98f7;
  }

  .burger--active
  .burger__line:nth-child(2) {
      opacity: 0;
  }

  .burger--active
  .burger__line:first-child {
      left: 25%;
      top: 50%;
      transform: rotate(45deg);
      transform-origin: center;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active
  .burger__line:last-child {
      bottom: auto;
      left: 25%;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 21px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:first-child {
    top: 5px;
  }

  .burger__line:last-child {
    bottom: 7px;
  }

  .burger__line:nth-child(2) {
    top: 48%;
    transform: translate(-50%, -50%);
  }

  /* hero */

  .hero__container {
    padding-top: 50px;
    padding-bottom: 49px;
    margin-bottom: 50px;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 100%;
  }

  .hero__descr {
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    max-width: 213px;
    padding: 21px 54px;
    font-size: 16px;
    line-height: 19px;
  }

    /* about */

    .about__container {
      margin-bottom: 35px;
    }

    .about__wrapper {
      padding-left: 0;
      background-image: none;
    }

    .about__title {
      margin-bottom: 2px;
      font-size: 20px;
      line-height: 130%;
    }

    .about__list .list__item {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 19px;
      flex-direction: row;
      align-items: flex-start;
    }

    .about__list .list__item:last-child {
      padding-left: 0 ;
      padding-right: 0;
      margin-bottom: 0;
    }

    .about__list .list__item-wrapper {
      margin-right: 30px;
    }

    /* teachers */

  .teachers {
    padding-bottom: 47px;
  }

  .teachers__container {
    padding-top: 47px;
  }

  .teachers__title {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 100%;
  }

  .teachers__list .list__item {
    padding-left: 0;
    padding-right: 0;
  }

  .teachers__list .list__item-three {
    margin-bottom: 21px;
  }

    /* courses */

    .courses {
      margin-bottom: 48px;
    }

    .courses__container {
      padding-top: 47px;
    }

    .courses__title {
      font-size: 20px;
      line-height: 100%;
    }

    .courses__descr {
      padding-bottom: 33.4%;
    }

    .courses__list li {
      padding-left: 0;
      padding-right: 0;
    }

    .courses__list li:not(:last-child) {
      margin-bottom: 33px;
    }

    .courses__list .list__item {
      padding: 209px 23px 30px 30px;
      font-size: 18px;
      line-height: 150%;
      background-size: 100% 179px;
    }

    .courses__list .list__item-one {
      background-image: url(../img/courses-bg1-320.png);
    }

    .courses__list .list__item-two {
      background-image: url(../img/courses-bg2-320.png);
    }

    .courses__list .list__item-two .courses__subtitle {
      margin-bottom: 3px;
    }

    .courses__list .list__item-two .courses__descr {
      padding-bottom: 128px;
    }

    .courses__list .list__item-three {
      padding: 208px 22px 50px 30px;
      background-image: url(../img/courses-bg3-320.png);
    }

    .courses__list .list__item-three .courses__descr {
      padding-bottom: 176px;
    }

    .courses__list .list__item-four {
      padding-top: 208px;
      padding-right: 27px;
      background-image: url(../img/courses-bg4-320.png);
    }

    .courses__btn {
      max-width: 195px;
      padding: 21px 56px;
    }

}

@media (max-width: 320px) {

  .header__container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__container .logo {
    width: 72px;
    margin-right: auto;
    margin-bottom: 0;
}

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 100vh;
    z-index: 1000;
    padding: 50px;
    padding-top: 160px;
    background-color: #2F2C45;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item {
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 21px;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .burger:focus-visible {
    outline-offset: 3px;
    outline: 2px solid #8e98f7;
  }

  .burger:active {
    color: #8e98f7;
  }

  .burger--active {
    z-index: 1001;
    transition: color 0.3s ease;
  }

  .burger--active:hover {
    color: #8e98f7;
  }

  .burger--active
  .burger__line:nth-child(2) {
      opacity: 0;
  }

  .burger--active
  .burger__line:first-child {
      left: 25%;
      top: 50%;
      transform: rotate(45deg);
      transform-origin: center;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active
  .burger__line:last-child {
      bottom: auto;
      left: 25%;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 21px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:first-child {
    top: 5px;
  }

  .burger__line:last-child {
    bottom: 7px;
  }

  .burger__line:nth-child(2) {
    top: 48%;
    transform: translate(-50%, -50%);
  }

  /* hero */

  .hero__container {
    padding-top: 50px;
    padding-bottom: 49px;
    margin-bottom: 50px;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 100%;
  }

  .hero__descr {
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    max-width: 213px;
    padding: 21px 54px;
    font-size: 16px;
    line-height: 19px;
  }

  /* about */

  .about__container {
    margin-bottom: 35px;
  }

  .about__wrapper {
    padding-left: 0;
    background-image: none;
  }

  .about__title {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
  }

  .about__list .list__item {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 19px;
    flex-direction: row;
    align-items: flex-start;
  }

  .about__list .list__item:last-child {
    padding-left: 0 ;
    padding-right: 0;
    margin-bottom: 0;
  }

  .about__list .list__item-wrapper {
    margin-right: 30px;
  }

  /* teachers */

  .teachers {
    padding-bottom: 47px;
  }

  .teachers__container {
    padding-top: 47px;
  }

  .teachers__title {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 100%;
  }

  .teachers__list .list__item {
    padding-left: 0;
    padding-right: 0;
  }

  .teachers__list .list__item-three {
    margin-bottom: 21px;
}

  /* courses */

  .courses {
    margin-bottom: 48px;
  }

  .courses__container {
    padding-top: 47px;
  }

  .courses__title {
    font-size: 20px;
    line-height: 100%;
  }

  .courses__descr {
    padding-bottom: 33.4%;
  }

  .courses__list li {
    padding-left: 0;
    padding-right: 0;
  }

  .courses__list li:not(:last-child) {
    margin-bottom: 33px;
  }

  .courses__list .list__item {
    padding: 209px 23px 30px 30px;
    font-size: 18px;
    line-height: 150%;
  }

  .courses__list .list__item-one {
    background-image: url(../img/courses-bg1-320.png);
  }

  .courses__list .list__item-two {
    background-image: url(../img/courses-bg2-320.png);
  }

  .courses__list .list__item-two .courses__subtitle {
    margin-bottom: 3px;
  }

  .courses__list .list__item-two .courses__descr {
    padding-bottom: 128px;
  }

  .courses__list .list__item-three {
    padding: 208px 22px 50px 30px;
    background-image: url(../img/courses-bg3-320.png);
  }

  .courses__list .list__item-three .courses__descr {
    padding-bottom: 176px;
  }

  .courses__list .list__item-four {
    padding-top: 208px;
    padding-right: 27px;
    background-image: url(../img/courses-bg4-320.png);
  }

  .courses__btn {
    max-width: 195px;
    padding: 21px 56px;
  }

}
